<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="MongoDBDocumentoDAO" primary="true"
		class="br.edu.utfpr.td.tsi.gerenciador.documentos.persistencia.mongoDB.MongoDBDocumentoDAO"></bean>

	<bean id="MySqlDocumentoDAO" primary="false"
		class="br.edu.utfpr.td.tsi.gerenciador.documentos.persistencia.mysql.MySqlDocumentoDAO"></bean>


</beans>




